.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 140px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #292D3E;
    color: white;
    min-height: 80vh;
    height: 100%;
    position: relative;
}










/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
